.nav-bar {
    position: absolute;
    z-index: 100;
}
.nav-bar div{
    line-height: 80%;
}
.nav-bar-title {
    display: flex;
    flex-wrap: nowrap;
}
.nav-link a {
    text-decoration: none;
    color: var(--yellow);
}

.nav-link a:hover {
    text-decoration: line-through;
}