.nav-bar {
    z-index: 100;
    width:100%;
}
.nav-bar div{
    line-height: 80%;
}
.nav-bar-title {
    display: flex;
    flex-wrap: nowrap;
}
.nav-link a {
    text-decoration: none;
    color: var(--yellow);
}

.nav-link a:hover {
    text-decoration: line-through;
}

.fade-out {
    opacity:0;
    transform: translate(0, -25px);
    transition: .2s all ease-in-out
}

.fade-in {
    opacity:1;
    transition: .2s all ease-in-out
}