@font-face {
  font-family: 'roboto-bold';
  src: URL('./fonts/roboto/Roboto-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'roboto-medium';
  src: URL('./fonts/roboto/Roboto-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'arimo-regular';
  src: URL('./fonts/arimo/Arimo-Regular.otf') format('opentype');
}

:root {
  --red-orange: #FF5937;
  --yellow: #FFE973;
  --off-white: #F9F9F9;
  --pale-green: #9BC8A0;  
  font-size: 65px;
}

#root {
  height: 100%
}

body,html {
  margin: 0;
  padding: 0;
  height: 100%
}

* {
  box-sizing: border-box;
}


body {
  background-color: var(--red-orange);
  color: var(--yellow);
  font-family: 'roboto-medium', 'Circular-Loom';
}

@media screen and (max-width: 550px) {
  :root {
      font-size:35px;
  }
}

@media screen and (max-width:650px) and (min-width: 550px) {
  :root {
      font-size:45px;
  }
}