@font-face {
  font-family: 'roboto-bold';
  src: URL('./fonts/roboto/Roboto-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'roboto-medium';
  src: URL('./fonts/roboto/Roboto-Medium.otf') format('opentype');
}

:root {
  --red-orange: #FF5937;
  --yellow: #FFE973;
  --off-white: #F9F9F9;
  --pale-green: #9BC8A0;
}

body,html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--red-orange);
  color: var(--yellow);
  font-family: 'roboto-medium', 'Circular-Loom';
  font-size: 65px;
  height: 100vh;
}