@font-face {
  font-family: 'roboto-bold';
  src: URL('./fonts/roboto/Roboto-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'roboto-medium';
  src: URL('./fonts/roboto/Roboto-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'arimo-regular';
  src: URL('./fonts/arimo/Arimo-Regular.otf') format('opentype');
}

:root {
  --red-orange: #FF5937;
  --yellow: #FFE973;
  --off-white: #F9F9F9;
  --pale-green: #9BC8A0;  
}

#root {
  height: 100vh;
}

body,html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
html {
  height: -webkit-fill-available;
}

body {
  background-color: var(--red-orange);
  color: var(--yellow);
  font-family: 'roboto-medium', 'Circular-Loom';
  font-size: 65px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-height: 100vh;
  max-height: -webkit-fill-available;
}

@media screen and (max-width:650px) {
  body {
      font-size:45px;
  }
}